<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>96345商户数据可视化</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i|PT+Serif:700" rel="stylesheet">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
</head>

<body class="is-boxed has-animations">
<div class="body-wrap boxed-container">
    <header class="site-header">
        <!-- 顶部导航栏 -->
        <div class="container">
            <div class="site-header-inner">
                <div class="brand header-brand">
                    <!-- 顶部左侧 -->
                    <h1 class="m-0">
                        <a href="#">
                            <!-- 小圆圈图标 -->
                            <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                                <title>Evelyn</title>
                                <defs>
                                    <radialGradient cy="0%" fx="50%" fy="0%" r="100%" id="logo-gradient">
                                        <stop stop-color="#FFF" offset="0%"/>
                                        <stop stop-color="#FFF" stop-opacity=".24" offset="100%"/>
                                    </radialGradient>
                                </defs>
                                <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                                      fill="url(#logo-gradient)" fill-rule="evenodd"/>
                            </svg>
                        </a>
                    </h1>
                </div>
                <!-- 左侧功能栏 -->
                <ul class="header-links list-reset m-0">
                    <li>
                        <a href="#">入口一</a>
                    </li>
                    <li>
                        <a class="button button-sm button-shadow" href="#">入口二</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <section class="hero text-light text-center">
            <div class="container-sm">
                <div class="hero-inner">
                    <h1 class="hero-title h2-mobile mt-0 is-revealing">96345商户反馈信息可视化</h1>
                    <p class="hero-paragraph is-revealing">This is a project develop by XZL to help 96345's merchant
                        easily checking their work and statistics the information.</p>
                    <p class="hero-cta is-revealing">
                        <!-- <a class="button button-secondary button-shadow" href="#">Choose Item Now</a> -->
                        <select class="button button-secondary button-shadow" name="select_item" id="select_item"
                                onchange="change_item_chart(),change_chart()">
                            <option value="68">开锁换锁</option>
                            <option value="1">钟点保姆</option>
                            <option value="3">家电维修</option>
                            <option value="4">清洗拆装</option>
                            <option value="5">房屋工程</option>
                            <option value="8">生活百事</option>
                            <option value="64">管道疏通</option>
                            <option value="65">水电安装维修</option>
                        </select>
                    </p>
                    <div class="hero-media" id="bar" style="width: 100%;">
                        <script>
                            var chart_item = echarts.init(document.getElementById('bar'), {
                                renderer: 'svg'
                            });
                            $(
                                function () {

                                    $.ajax({
                                        type: "GET",
                                        url: "http://127.0.0.1:5000/barChart/68",
                                        {#url: "http://0.0.0.0:80/barChart/68",#}
                                        dataType: 'json',
                                        success: function (result) {
                                            chart_item.setOption(result);
                                        }
                                    });
                                }
                            )

                            function change_item_chart() {
                                var select = document.getElementById("select_item");
                                var index = select.selectedIndex; //序号，取当前选中选项的序号
                                var val = select.options[index].value;
                                $.ajax({
                                    type: "GET",
                                    url: "http://127.0.0.1:5000/barChart/" + val,
                                    {#url: "http://0.0.0.0:80/barChart/" + val,#}
                                    dataType: 'json',
                                    success: function (result) {
                                        chart_item.setOption(result, true);
                                    }
                                });

                            }
                        </script>
                    </div>
                </div>
            </div>
        </section>

        <section class="features section text-center">
            <div class="container">
                <div class="features-inner section-inner has-top-divider">
                    <div class="features-wrap">
                        <select class="button button-secondary button-shadow" style="width:400px;" id="choose_time"
                                name="timelapse" onchange="change_chart()">
                            <option value="1">今天</option>
                            <option value="2">昨天-今天</option>
                            <option value="3">前天-今天</option>
                            <option value="4">大前天-今天</option>
                        </select>

                        <div class="feature is-revealing">
                            <div class="feature-inner" id="increase_bar">
                                <div class="feature-icon">
                                    <div id="increase_bar"></div>
                                    <script>
                                        var chart = echarts.init(document.getElementById('increase_bar'), 'white', {
                                            renderer: 'canvas'
                                        });

                                        $(
                                            function () {
                                                $.ajax({
                                                    type: "GET",
                                                    url: "http://127.0.0.1:5000/increaseBarChart/68/1",
                                                    {#url: "http://0.0.0.0:80/increaseBarChart/68/1",#}
                                                    dataType: 'json',
                                                    success: function (result) {
                                                        chart.setOption(result);
                                                    }
                                                });
                                            }
                                        )

                                        function change_chart() {
                                            var select = document.getElementById("choose_time");
                                            var index = select.selectedIndex; //序号，取当前选中选项的序号
                                            var val = select.options[index].value;

                                            var item = document.getElementById("select_item");
                                            var item_index = item.selectedIndex;
                                            var item_id = item.options[item_index].value;
                                            $.ajax({
                                                type: "GET",
                                                url: "http://127.0.0.1:5000/increaseBarChart/" + item_id + "/" + val,
                                                {#url: "http://0.0.0.0:80/increaseBarChart/" + item_id + "/" + val,#}
                                                dataType: 'json',
                                                success: function (result) {
                                                    chart.setOption(result, true);
                                                }
                                            });
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <path fill="#0EB3CE" d="M0 0h32v32H0z"/>
                                            <path fill="#84E482" d="M16 16h32L16 48z"/>
                                        </g>
                                    </svg>
                                </div>
                                <h4 class="feature-title h3-mobile">Lorem Ipsum</h4>
                                <p class="text-sm">often arouses curiosity due to its resemblance to classical latin</p>
                            </div>
                        </div>
                        <div class="feature is-revealing">
                            <div class="feature-inner">
                                <div class="feature-icon">
                                    <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg">
                                        <g fill="none" fill-rule="evenodd">
                                            <path d="M32 40H0c0-8.837 7.163-16 16-16s16 7.163 16 16z" fill="#84E482"
                                                  style="mix-blend-mode:multiply"/>
                                            <path fill="#03C5A4" d="M12 8h8v8h-8z"/>
                                            <path fill="#0EB3CE" d="M32 0h16v48H32z"/>
                                        </g>
                                    </svg>
                                </div>
                                <h4 class="feature-title h3-mobile">Lorem Ipsum</h4>
                                <p class="text-sm">often arouses curiosity due to its resemblance to classical latin</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer">
        <div class="container">
            <div class="site-footer-inner">
                <div class="brand footer-brand">
                    <a href="#">
                        <svg width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                            <title>Evelyn</title>
                            <defs>
                                <radialGradient cy="0%" fx="50%" fy="0%" r="100%" id="logo-gradient-footer">
                                    <stop stop-color="#00A2B8" offset="0%"/>
                                    <stop stop-color="#00F9D2" offset="100%"/>
                                </radialGradient>
                            </defs>
                            <path d="M16 32C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16zm0-10a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                                  fill="url(#logo-gradient-footer)" fill-rule="evenodd"/>
                        </svg>
                    </a>
                </div>
                <ul class="footer-links list-reset">
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">FAQ's</a>
                    </li>
                    <li>
                        <a href="#">Support</a>
                    </li>
                </ul>
                <ul class="footer-social-links list-reset">
                    <li>
                        <a href="#">
                            <span class="screen-reader-text">Facebook</span>
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z"
                                      fill="#0EB3CE"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="screen-reader-text">Twitter</span>
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z"
                                      fill="#0EB3CE"/>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="screen-reader-text">Google</span>
                            <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                <path d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z"
                                      fill="#0EB3CE"/>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer-copyright">Copyright &copy; 2019.Company name All rights reserved.</div>
            </div>
        </div>
    </footer>
</div>

<script src="../static/assets/js/main.min.js"></script>

</body>

</html>